:host {
    
    .container {

        .row:nth-child(odd) {
            .col:nth-child(1) {
                background: #f0fff0; 
            }
            .col:nth-child(2) {
                background: #e6e6fa; 
            }
        }    
        
        .row:nth-child(even) {   
            .col:nth-child(1) {
                background: #e6e6fa; 
            }
            .col:nth-child(2) {
                background: #f0fff0;
            }
        }

    }  



}